.opti_timer {
  font-family: "Work Sans";
  width: 100%;
  height: 50px;
  background: rgb(162, 244, 253);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 130%;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: black;
}

.opti_timer div svg {
  margin-left: 8px;
  margin-bottom: 2px;
  vertical-align: middle;
  font-size: 16px;
}

.cdt-display {
  border: 2px solid black;
  padding: 4px 8px;
}

.cdt-text {
  text-transform: uppercase;
  color: black;
  margin-left: 8px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media only screen and (min-width: 992px) {
  .cdt-display {
    padding: 8px 12px;
  }

  .cdt-text {
    margin-left: 32px;
  }
}
