<!-- Target time: Enter the future target time in milliseconds -->
<a class="opti_timer" data-target-ts="1765148399000">
    <!-- Visual time -->
    <div role="timer" aria-live="off">
        <span class="cdt-display" aria-hidden="true">00 : 00 : 00 : 00</span>
        <span class="cdt-text"></span><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><title>arrowForward</title><path d="M294.1 256L167 129c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.3 34 0L345 239c9.1 9.1 9.3 23.7.7 33.1L201.1 417c-4.7 4.7-10.9 7-17 7s-12.3-2.3-17-7c-9.4-9.4-9.4-24.6 0-33.9l127-127.1z"></path></svg>
    </div>

    <!-- Screen-reader announcement -->
    <p class="cdt-announcer" class="sr-only" aria-live="polite"></p>
</a>